@import "../../styles/variables";

header {
    margin: 0px 0px 30px 0px;    
    display: grid;
    justify-items: right;
    .additional {
        height: 40px;

        a {
            @include noSellection;
        }
        
        img {
            height: 100%;
        }
    }
}