<div class="activity">
    
  <!--repeatable-->
  <div class="task">
      <div class="duration">
          <p>5.4h</p>
      </div>
        <div class="title">
          <p>some kind of activity 1</p>
      </div>
  </div>
  <!--repeatable-->
  
  <!--repeatable-->
  <div class="task">
      <div class="duration">
          <p>3.0h</p>
      </div>
      <div class="title">
          <p>some kind of activity 2</p>
      </div>
  </div>
  <!--repeatable-->

  <!--repeatable-->
  <div class="task">
      <div class="duration">
          <p>3.0h</p>
      </div>
      <div class="title">
          <p>some kind of activity 3</p>
      </div>
  </div>
  <!--repeatable-->

  <!--repeatable-->
  <div class="task">
      <div class="duration">
          <p>3.0h</p>
      </div>
      <div class="title">
          <p>some kind of activity 4</p>
      </div>
  </div>
      <!--repeatable-->

  <!--repeatable-->
  <div class="task">
      <div class="duration">
          <p>3.0h</p>
      </div>
      <div class="title">
          <p>some kind of activity 5</p>
      </div>
  </div>
  <!--repeatable-->
  
</div>