.activity {
    padding: 10px;
    
    .task {
        display: grid;
        grid-template-columns: 60px 1fr;        
        grid-column-gap: 10px;
        
        align-items: center;
        justify-items: left;

        margin: 5px 0px;
        padding: 0px 10px;
        background: rgba(100, 100, 100, 0.5);

        div {
            padding: 5px;
        }
        
        p {
            font-weight: normal;
        }
        
        .duration {
            grid-column: 1;
        }
        
        .title {
            grid-column: 2;
            justify-self: left;
            font-style: italic;
        }
    }
}
