
.chart {

    label {
        font-size: 18px;
    }

    form {
        margin: 10px;
    }
    
    .view {
        background: rgba(100, 100, 100, 0.5);
        height: 300px;
        // temporary:
        display: grid;
        align-items: center;
        justify-items: center;
    }
}