<div id="periodInterval">
    <form class="dateRange">
        <div class="fromBlk">
            <label for="dateFrom">From:</label>
            <input type="text" id="dateFrom"/>
        </div>
        <div class="toBlk">
            <label for="dateTo">To:</label>
            <input type="text" id="dateTo"/>
        </div>
    </form>
</div>
<div class="general">
    <p id="hoursInRange">Total activity in range: 123.5h</p>       
</div>
<div id="tasksInfo">
    
    <!--repeatable-->
    <div class="task">
        <div class="duration">
            <p>5.4h</p>
        </div>
          <div class="title">
            <p>some kind of activity 1</p>
        </div>
    </div>
    <!--repeatable-->
    
    <!--repeatable-->
    <div class="task">
        <div class="duration">
            <p>3.0h</p>
        </div>
        <div class="title">
            <p>some kind of activity 2</p>
        </div>
    </div>
    <!--repeatable-->

    <!--repeatable-->
    <div class="task">
        <div class="duration">
            <p>3.0h</p>
        </div>
        <div class="title">
            <p>some kind of activity 3</p>
        </div>
    </div>
    <!--repeatable-->

    <!--repeatable-->
    <div class="task">
        <div class="duration">
            <p>3.0h</p>
        </div>
        <div class="title">
            <p>some kind of activity 4</p>
        </div>
    </div>
        <!--repeatable-->

    <!--repeatable-->
    <div class="task">
        <div class="duration">
            <p>3.0h</p>
        </div>
        <div class="title">
            <p>some kind of activity 5</p>
        </div>
    </div>
    <!--repeatable-->
    
</div>
<div id="chartBlk">
    <form class="select">
        <label for="selectGroup">Group by:</label>
        <select id="selectGroup">
            <option>day</option>
            <option>week</option>
            <option>month</option>                           
        </select>
    </form>
    <div class="chart"><p>chart here</p></div>
</div>