
#periodInterval {

    label {
        font-size: 14px;
        font-style: italic; 
    }

    form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        align-items: center;
        grid-column-gap: 120px;

        .fromBlk {
            grid-column: 1;
            justify-self: right;
        }

        .toBlk {
            grid-column: 2;
            justify-self: left;
        }
    }
}

.general {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    justify-content: center;
    align-content: center;
}

