@import "../../../styles/variables";

.interaction {
    display: grid;
    margin: 20px;
    grid-template-columns: auto;
    grid-template-rows: 1fr, 1fr, 1fr;
    grid-row-gap: 10px;
    justify-items: center; 
    align-items: center;
}

label {
    @include shadowText;
    font-size: 28px;
    font-weight: bold;
}

.input {
    display: flex;
    position: relative;

    .arrow {
        margin: 0px 10px;
        height: 40px;
        width: auto;
        cursor: pointer;

        img {
            transition-duration: 200ms;
            height: 100%;
        }
    }

    .disabled {
        display: none;
    }

    .rotate {
        -ms-transform: rotate(180deg); /* IE 9 */
        -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
        transform: rotate(180deg);
    }
}

input, input:focus {
    @include shadowText;
    background: transparent;
    border: none;
    border-bottom: 2px solid white;
    outline: none;
    text-align: center;
    width: 550px;
    color: white;
    font-size: 26px;
    font-style: italic;
}

.awesomeBtn {
    margin: 20px 15px;
    font-size: 22px;
    text-shadow: 0.5px 0.5px 0.5px rgb(66, 66, 66);
    color: white;
    font-weight: bold;
    width: 180px;
    height: 55px;
    background: rgba(0,0,0,0.3);
    border: 1.5px solid rgba(255,255,255,0.75); 
    border-radius: 10px;
}
button:hover {
    background: rgba(0,0,0,0.5);
    border-color: rgba(255,255,255,1)
}